.footer-container{
    background-color: #1a1818;
    padding: 2rem 0 5rem 0;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo--footer{
    width: 200px;
    height: 200px;
}
/*social icons*/
.social-icon-link {
    font-size: 37px;
    text-align: center;
    color: #fff;
}

.social-media {
    width: 100%;
}

.social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social-logo{
    color:#fff;
    justify-self: start;
    margin-left: 20px;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-self: center;
    margin-bottom: 16px;
}

.link-developer{
    text-align: center;
    margin: 0 6rem;
}
a.link-developer:hover {
    text-decoration: none;
}
.website-rights {
    margin-bottom: 16px;
    color: #fff;
    font-size: 35px;
}
.partner-rights{
    text-align: center;
    padding-bottom: 1rem;
}
.partner-rights--font{
    font-size: 20px;
    color: #fff;
}

@media screen and (max-width:960px){
    .footer-container{
        display: block;
        padding: 0% 5% 0% 5%;
    }
    .social-media, .social-media-wrap {
        display: block;
        text-align: center;
        margin-top: 0;
    }
    .footer-logo{
        padding-bottom: 1rem;
    }
    .link-developer {
        margin: 0; 
    }
    .website-rights{
        font-size: 30px;
    }
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem 0 2rem 0;
    }
  }

  @media screen and (max-width: 425px) {
    .website-rights {
        font-size: 22px;
    }
  }
